include LICENSE
include README.md
include CHANGELOG.md
include src/*.c
include src/*.h
include tinybpe/py.typed
include tinybpe/bpe.pyi
include models/*.tbm
include scripts/*.py
recursive-include tests *.py *.tbm *.vocab *.txt
recursive-include examples *.py *.txt *.tbm *.vocab
recursive-include benchmarks *.py
